BasedOnStyle:  GNU
ColumnLimit: 120
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakAfterReturnType: Automatic
BreakBeforeBraces: Linux
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfFile: true
  AtStartOfBlock: true
Language:        Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Left
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
Standard:        Cpp11
